@font-face {
  font-family: "Affogato";
  src: url("./fonts/Affogato-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Affogato";
  src: url("./fonts/Affogato-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Affogato";
  src: url("./fonts/Affogato-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Affogato";
  src: url("./fonts/Affogato-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Affogato";
  src: url("./fonts/Affogato-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

.App {
  width: 100%;
  min-width: 375px;
}

section {
  scroll-margin-top: 89px;
}

.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Affogato", "sans-serif";
  font-weight: 500;
  align-items: center;
  padding: 20px 0;
  transition: all 0.15s ease-in-out;

  & .logo-div {
    padding: 15px 20px;
    cursor: pointer;
  }
  & .nav-logo {
    min-width: 233px;
    width: 233px;
    transition: min-width 0.15s ease-in-out;
  }
  & .nav-logo-sticky {
    display: none;
  }
  & .nav-logo-mobile {
    width: 45px;
    display: none;
  }

  & .nav-right {
    display: flex;
    align-items: center;

    & .navs {
      display: flex;
      color: white;
      align-items: center;
      & .nav {
        margin-right: 27px;
        white-space: nowrap;
        font-size: 16px;
        transition: all 0.15s ease-in-out;
        cursor: pointer;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        &:hover {
          opacity: 0.7;
          transition: opacity 0s ease-in-out;
        }
      }
    }

    & .language-btn-wrapper {
      display: flex;
      flex-direction: column;
      margin: 15px 0px 15px 0;
      position: relative;

      &.closed {
        .language-btn {
          z-index: 1;
        }
        .language-btn.two {
          position: absolute;
          top: 0.5px;
          border-radius: 20px;
          transition: all 0.2s ease-in-out;
          z-index: 0;
          .caret {
            opacity: 0;
          }
        }
      }

      &.open {
        .language-btn {
          border-radius: 20px 20px 0 0;
          transition: all 0.15s ease-in-out;
          transition-delay: 0.05s;
          z-index: 1;

          .caret {
            transform: rotate(180deg);
          }
        }
        .language-btn.two {
          position: absolute;
          top: 38px;
          border-radius: 0 0 20px 20px;
          border-top: solid 1px #d1d1d1;
          transition: all 0.2s ease-in-out;
          z-index: 0;
          .caret {
            opacity: 0;
          }
        }
      }
    }

    & .language-btn {
      display: flex;
      align-items: center;
      background: #f7f1ff;
      border-radius: 20px;
      padding: 11px 16px 11px 18px;
      outline: none;
      border: none;
      min-width: fit-content;
      cursor: pointer;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      transition: all 0.15s ease-in-out;
      transition-delay: 0.05s;

      & .flag {
        margin-right: 12px;
        width: 22.4px;
        height: 16px;
      }
    }

    & .hamburger {
      padding: 22px;
      display: none;
    }
  }

  .outline-btn {
    background-color: transparent;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 100px;
    color: white;
    padding: 8px 25px;
    white-space: nowrap;
    font-weight: 600;
    margin-right: 16px;

    &:hover {
      cursor: pointer;
      background-color: white;
      color: #7e32d4;
      transition: all 0.15s ease-in-out;
    }
  }

  &.sticky {
    background-color: white;
    position: fixed;
    top: 0;
    transition: all 0.15s ease-in-out;

    & .nav-logo-sticky {
      display: block;
      min-width: 233px;
      width: 233px;
      transition: min-width 0.15s ease-in-out;
    }

    & .nav-logo {
      display: none;
    }

    & .nav {
      color: #575559;
      transition: all 0.15s ease-in-out;
    }

    & .outline-btn {
      &.green {
        border-color: #00b1ac;
        color: #00b1ac;
        transition: all 0.15s ease-in-out;
        &:hover {
          background-color: #00b1ac;
          color: white;
        }
      }
      &.purple {
        border-color: #7e32d4;
        color: #7e32d4;
        transition: all 0.15s ease-in-out;
        &:hover {
          background-color: #7e32d4;
          color: white;
        }
      }
    }
  }

  &.mobile {
    & .nav-logo-mobile {
      display: block;
    }
    & .nav-logo {
      display: none;
    }
    & .navs {
      display: none;
    }

    & .language-btn {
      margin-right: 0;
    }

    & .hamburger {
      display: block;
      cursor: pointer;
      & svg {
        transform: rotate(0deg);
        transition: transform 0.3s ease;
      }
      &:hover {
        svg {
          transform: rotate(180deg);
          transition: transform 0.3s ease;
        }
      }
    }

    &.sticky {
      & .nav-logo-sticky {
        display: none;
      }

      & .hamburger {
        & svg line {
          stroke: #7e32d4;
        }
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 90px;
  right: 0;
  background-color: white;
  width: auto;
  text-align: center;
  padding: 20px 20px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 0 0 10px;
  transition: 0.15s ease-out;
  border: solid 1px #7e32d4;
  border-right: none;

  & .nav {
    margin-bottom: 14px;
    cursor: pointer;
    transition: opacity 0s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    &:hover {
      opacity: 0.7;
      transition: opacity 0.1s ease-in-out;
    }
  }

  & .outline-btn {
    margin-bottom: 10px;
    margin-right: 0;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    &.green {
      border-color: #00b1ac;
      color: #00b1ac;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #00b1ac;
        color: white;
      }
    }
    &.purple {
      border-color: #7e32d4;
      color: #7e32d4;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #7e32d4;
        color: white;
      }
    }
  }

  &.shift {
    top: 107px;
  }
}

.mobile-menu.hide {
  right: -260px;
  opacity: 0;
  transform: translateX(0%);
  transition: 0.15s ease-in;
}

.container {
  margin: 0 6%;
}

.container1 {
  margin: 0 2%;
}

.section-header {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.02em;
  padding-top: 30px;
}

.section-title {
  color: #7e32d4;
  font-family: "Affogato", "sans-serif";
  font-weight: 900;
  font-size: 18px;
  padding-top: 30px;
  text-decoration: underline;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.section-desc {
  font-family: "Affogato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.01em;

  color: #575559;
  margin: 15px 0 20px;
}

.call-to-action {
  background-color: #00b1ac;
  outline: none;
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: "Affogato", "sans-serif";
  padding: 16px 76px;
  cursor: pointer;
  &:hover {
    background-color: #06bfba;
  }
}

.hero {
  background: linear-gradient(143.5deg, #310676 21.32%, #861cff 78.79%), #702bbe;
  font-family: "Nunito", "sans-serif";
  color: white;
  padding-top: 90px;
  text-align: center;
  z-index: 0;

  .large {
    display: none;
  }

  .hero-tag {
    margin: 10px 0 30px;
    font-weight: 200;
    font-family: "Affogato", "sans-serif";
    color: #f9f9f9;
    & .bold {
      font-weight: 700;
    }
  }

  .phone-img-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 18px;
    margin-top: 30px;
    padding: 0 10%;
    & .phone-img {
      width: auto;
    }
  }
}

.features {
  background-color: white;
  color: black;
  text-align: center;
  padding-bottom: 60px;

  & .section-header {
    padding-top: 20px;
  }

  .features-wrapper {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;

    .feature {
      width: 47.5%;
      margin-top: 20px;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */

      .feature-img {
        width: 100%;
      }
      .feature-text {
        margin-top: 10px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.01em;
      }
    }
  }
}

.how-it-works {
  background-image: linear-gradient(
      180deg,
      #d7f0fb 49.01%,
      rgba(215, 240, 251, 0) 66.15%
    ),
    url("./assets/membership-bg-img.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 100%;
}

.about {
  text-align: center;
  padding-bottom: 60px;

  & .purple {
    color: #7e32d4;
  }

  .collage-wrapper {
    margin-top: 30px;

    .collage {
      width: 100%;
    }
  }
}

.our-locations {
  text-align: center;
  background-color: #f6fbfe;
  padding-bottom: 60px;

  .map {
    margin-top: 30px;
    width: 100%;
  }

  & a {
    &:hover {
      color: #7e32d4;
    }
  }

  .location {
    margin-top: 30px;
  }
  .location-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #7e32d4;
    margin-bottom: 12px;
  }

  .location-info {
    font-family: "Affogato";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #575559;

    &.underline {
      text-decoration: underline;
    }

    &.phone {
      & a {
        text-decoration: none;
      }
    }
  }
}

.footer {
  background: linear-gradient(141.66deg, #310676 22.14%, #861cff 77.98%),
    #702bbe;
  text-align: center;
  padding: 50px 0 73px;

  .footer-logo-wrapper {
    display: flex;
    justify-content: center;
    cursor: pointer;

    & .footer-logo {
      width: 140px;
    }
  }

  .links-div {
    color: white;
    margin-top: 40px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    .links-title {
      font-family: "Affogato";
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      line-height: 100%;
      margin-bottom: 12px;
    }

    .link {
      font-family: "Affogato";
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
      cursor: pointer;
      color: white !important;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      margin: 0 20%;
    }
  }

  .disclaimer {
    font-family: "Affogato";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: white;
    margin-top: 70px;
    text-align: left;
    padding-left: 5px;
  }
}

@media screen and (min-width: 420px) {
  .how-it-works {
    background-image: linear-gradient(
        180deg,
        #d7f0fb 45.01%,
        rgba(215, 240, 251, 0) 60.15%
      ),
      url("./assets/membership-bg-img.png");
  }

  .hero .phone-img-wrapper {
    margin-left: 19px;
  }
}

@media screen and (min-width: 500px) {
  .how-it-works {
    background-image: linear-gradient(
        180deg,
        #d7f0fb 40.01%,
        rgba(215, 240, 251, 0) 55.15%
      ),
      url("./assets/membership-bg-img.png");
  }

  .hero .phone-img-wrapper {
    margin-left: 26px;
  }
}

@media screen and (min-width: 600px) {
  .how-it-works {
    background-image: linear-gradient(
        180deg,
        #d7f0fb 35.01%,
        rgba(215, 240, 251, 0) 50.15%
      ),
      url("./assets/membership-bg-img.png");
  }

  .hero .phone-img-wrapper {
    margin-left: 30px;
  }
}

@media screen and (min-width: 700px) {
  .how-it-works {
    background-image: linear-gradient(
        180deg,
        #d7f0fb 30.01%,
        rgba(215, 240, 251, 0) 45.15%
      ),
      url("./assets/membership-bg-img.png");
  }

  .hero .phone-img-wrapper {
    margin-left: 31px;
    padding: 0 12%;
  }

  .features .features-wrapper {
    justify-content: space-between;
    padding: 0 10%;
    .feature {
      width: 40%;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero .phone-img-wrapper {
    margin-left: 28px;
    padding: 0 20%;
  }
}

@media screen and (min-width: 875px) {
  .how-it-works {
    background-image: linear-gradient(
        180deg,
        #d7f0fb 27.01%,
        rgba(215, 240, 251, 0) 42.15%
      ),
      url("./assets/membership-bg-img.png");
  }
  .hero .phone-img-wrapper {
    margin-left: 28px;
    padding: 0 24%;
  }
}

@media screen and (min-width: 975px) {
  .mobile-menu {
    display: none;
  }

  .section-header {
    font-weight: 900;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #1d1c1f;
  }

  .section-desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
  }

  .mobile-break {
    display: none;
  }

  .hero {
    background: linear-gradient(104.41deg, #310676 0%, #861cff 100%), #702bbe;
    .hero-wrapper {
      display: flex;
      flex-direction: row-reverse;
    }
    .phone-img-wrapper {
      margin: 0;
      max-width: 42vw;
      padding: 0 0 0 10%;
    }
    .hero-text {
      text-align: left;
      padding: 15px 50px 10px 20px;

      & .section-header {
        text-align: left;
        font-weight: 900;
        font-size: 50px;
        line-height: 110%;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        color: white;
      }

      & .hero-tag {
        font-weight: 400;
        font-size: 26px;
        line-height: 120%;
      }
    }
  }

  .features {
    padding-bottom: 150px;
    padding-top: 50px;
    .features-text {
      margin: 0 20%;

      .section-desc {
        margin: 25px 5% 40px;
      }
    }

    .features-wrapper {
      margin-top: 3px;
      flex-wrap: wrap;

      .feature {
        width: 27.5%;
        margin-top: 99px;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */

        .feature-text {
          font-weight: 700;
          font-size: 26px;
        }
      }
    }
  }

  .how-it-works {
    background-image: linear-gradient(
        90deg,
        #d7f0fb 45%,
        rgba(215, 240, 251, 0) 70.4%
      ),
      url("./assets/membership-bg-img-large.png");
    background-position: right;
    background-size: contain;
    text-align: left;
    padding-bottom: 0;
    height: 720px;

    .section-title {
      padding-top: 70px;
    }

    .how-it-works-text {
      width: 40%;
    }

    .section-header {
      text-align: left;
    }

    .section-desc {
      text-align: left;
      margin-top: 28px;
      margin-bottom: 64px;
    }
  }

  .about {
    .about-wrapper {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 67px;

      .about-text {
        width: 60%;
        text-align: left;
        padding-left: 69px;
        margin-top: 0px;
        padding-bottom: 0px;

        .section-header {
          text-align: left;
        }

        .section-desc {
          text-align: left;
          margin-top: 24px;
          margin-bottom: 40px;
          font-size: 20px;
          line-height: 150%;
        }
      }

      .collage-wrapper {
        width: 40%;
        margin-top: 7%;
      }
    }
  }

  .our-locations {
    padding-top: 90px;

    .map {
      margin: 45px 0 20px;
    }

    .locations {
      display: flex;
      justify-content: space-around;
      margin-bottom: 130px;
    }
  }

  .footer {
    padding-bottom: 30px;
    background: linear-gradient(104.41deg, #310676 0%, #861cff 100%), #702bbe;
    .footer-wrapper {
      display: flex;
      justify-content: space-between;
      margin-right: 0%;
      margin-top: 20px;

      .links-div {
        text-align: left;
        margin: 0 20px 0;

        .link {
          margin: 0;
        }
      }
    }

    .disclaimer {
      margin: 100px 8%;
    }
  }
}

@media screen and (min-width: 1025px) {
  .hero {
    .phone-img-wrapper {
      max-width: 40vw;
      margin-left: 5%;
      padding: 0 0 0 5%;
    }
    .hero-text {
      padding: 35px 50px 10px 20px;
    }
  }

  .navbar .nav-right .language-btn-wrapper {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1150px) {
  .hero {
    background: linear-gradient(104.41deg, #310676 0%, #861cff 100%), #702bbe;
    .hero-wrapper {
      display: flex;
      flex-direction: row-reverse;
    }
    .phone-img-wrapper {
      max-width: 40vw;
      margin-left: 3%;
      padding: 0 0 0 5%;
    }
    .hero-text {
      text-align: left;
      padding: 5% 50px 20px 30px;

      & .section-header {
        text-align: left;
        font-weight: 900;
        font-size: 58px;
        line-height: 110%;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        color: white;
      }

      & .hero-tag {
        font-weight: 400;
        font-size: 26px;
        line-height: 120%;
      }
    }
  }

  .how-it-works {
    background-image: linear-gradient(
        90deg,
        #d7f0fb 50%,
        rgba(215, 240, 251, 0) 62.4%
      ),
      url("./assets/membership-bg-img-large.png");
    background-position: right;
    background-size: contain;
    text-align: left;
    padding-bottom: 0;
    height: 720px;

    .section-title {
      padding-top: 120px;
    }
  }

  .about {
    .about-wrapper {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 67px;

      .about-text {
        width: 56%;
        text-align: left;
        padding-left: 69px;
        margin-top: 30px;
        padding-bottom: 90px;

        .section-header {
          text-align: left;
        }

        .section-desc {
          text-align: left;
          margin-top: 24px;
          margin-bottom: 64px;
          font-size: 24px;
          line-height: 150%;
        }
      }

      .collage-wrapper {
        width: 44%;
      }
    }
  }

  .footer {
    padding-bottom: 30px;
    background: linear-gradient(104.41deg, #310676 0%, #861cff 100%), #702bbe;
    .footer-wrapper {
      margin-right: 8%;

      .links-div {
        margin: 0 60px 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    .phone-img-wrapper {
      max-width: 40vw;
      margin-left: 3%;
      padding: 0 0 0 5%;
    }
    .hero-text {
      text-align: left;
      padding: 6% 50px 20px 30px;
    }
  }
}
@media screen and (min-width: 1300px) {
  .hero {
    .phone-img-wrapper {
      max-width: 40vw;
      margin-left: 5%;
    }
    .hero-text {
      padding-top: 6%;
    }
  }
  .about {
    .about-wrapper {
      .collage-wrapper {
        margin-top: 1%;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    .phone-img-wrapper {
      max-width: 40vw;
      margin-left: 5%;
    }
    .hero-text {
      padding-top: 7%;
    }
  }

  .how-it-works {
    background-image: linear-gradient(
        90deg,
        #d7f0fb 55%,
        rgba(215, 240, 251, 0) 65.4%
      ),
      url("./assets/membership-bg-img-large.png");
  }
}

@media screen and (min-width: 1500px) {
  .hero {
    .phone-img-wrapper {
      max-width: 40vw;
      margin-left: 7%;
    }
    .hero-text {
      padding: 7% 50px 0 20px;
      .section-header {
        margin-right: 21%;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .hero {
    .phone-img-wrapper {
      max-width: 38vw;
      padding: 0 0 0 9%;
    }
  }
  .how-it-works {
    background-image: linear-gradient(
        90deg,
        #d7f0fb 60%,
        rgba(215, 240, 251, 0) 70.4%
      ),
      url("./assets/membership-bg-img-large.png");
  }
}

@media screen and (min-width: 1800px) {
  .navbar {
    padding: 20px 15%;
  }

  .hero {
    .phone-img-wrapper {
      max-width: 38vw;
      padding: 0 0 0 12%;
      margin-left: 10%;
    }
    .hero-wrapper {
      margin-right: 2%;
    }
  }

  .how-it-works {
    background-image: linear-gradient(
        90deg,
        #d7f0fb 65%,
        rgba(215, 240, 251, 0) 75.4%
      ),
      url("./assets/membership-bg-img-large.png");
  }

  .container {
    margin: 0 10%;
  }

  .about .about-wrapper .about-text {
    padding-left: 100px;
    margin-top: 5%;
  }
}

@media screen and (min-width: 2000px) {
  .container {
    margin: 0 15%;
  }

  .hero {
    .phone-img-wrapper {
      max-width: 36vw;
      padding: 0 0 0 12%;
      margin-left: 15%;
    }
    .hero-wrapper {
      margin-right: 5.5%;
    }
  }

  .how-it-works {
    background-image: linear-gradient(
        90deg,
        #d7f0fb 70%,
        rgba(215, 240, 251, 0) 80.4%
      ),
      url("./assets/membership-bg-img-large.png");
  }
}

@media screen and (min-width: 2200px) {
  .hero {
    .phone-img-wrapper {
      max-width: 34vw;
      padding: 0 0 0 12%;
      margin-left: 16%;
    }
    .hero-wrapper {
      margin-right: 8%;
    }
  }
}

@media screen and (min-width: 2400px) {
  .hero {
    .phone-img-wrapper {
      max-width: 32vw;
      padding: 0 0 0 12%;
      margin-left: 16%;
    }
    .hero-wrapper {
      margin-right: 10%;
    }
  }

  .how-it-works {
    background-image: linear-gradient(
        90deg,
        #d7f0fb 75%,
        rgba(215, 240, 251, 0) 85.4%
      ),
      url("./assets/membership-bg-img-large.png");
  }
}

@media screen and (max-width: 1150px) {
  .navbar {
    & .nav-logo {
      min-width: 140px;
      width: 180px;
    }
    &.sticky .nav-logo-sticky {
      min-width: 140px;
      width: 180px;
    }

    & .nav-right .navs {
      & .nav {
        font-size: 14px;
        margin-right: 18px;
      }
      & .outline-btn {
        font-size: 14px;
        padding-top: 7px;
        margin-right: 10px;
      }
    }
  }
}
